@import "colors";

.channel-title{
    flex: 0 0 auto;

    .col-8 span{
        padding-left: 8px;
    }

    .col-4.add-channel{
        font-size: 1rem;
        line-height: 28px;
    }

    .add-channel{
        text-align: center;
        font-weight: bolder;

        &:hover{
            background-color: $hover-color;
        }
    }
}
