@import "colors";
@import "common";

.left-container{
    flex: 0 0 auto;

    @media (min-width: $breakpoint){
        &{
            flex: 0 1 auto;
        }
    }
    
    @media (min-width: $breakpoint){
        &{
            width: 220px;
            min-width: 220px;
        }
    }


    background-color: $page-color;
    display:flex;
    flex-direction: column;
    
    .current-user-container{
        margin-top:20px;
        flex: 0 0 auto;

        display: flex;
        align-items: center;

        .avatar{
            flex: 0 0 auto;
            
            img{
                border-radius: 4px;
            }
        }


        .current-user-name{
            flex: 1 0 auto;

            text-align: center;
            & > span{
                font-size: 0.9rem;
                color: $chat-background-color;
                font-weight: bold;
            }
        }
    }

    .channel-container{
        margin-top:20px;

        font-size: 1.2rem;
        color: $chat-background-color;
        flex: 0 0 auto ;
        flex-wrap: wrap;

        display: flex;
        flex-direction: column; 

        .container{
            max-width: none;
        }


        @media (min-width: $breakpoint){
            &{
                flex: 1 0 auto;
            }
        }


        .channel-list{
            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;

            margin-top:20px;
            font-size: 1.0rem;

            flex-direction: column;

            @media (min-width: 768px){
                &{
                    flex: 1 0 auto;
                }
            }

            
            &>div{
                padding:0px;
            }

            .col-12{
                flex: 1 0 48px;

                @media (min-width: $breakpoint){
                    &{
                        flex: 1 0 0;
                    }
                }

                flex-wrap: nowrap;
                display:flex;
            }

            ul{
                list-style: none;
                padding: 0px;   
                margin-bottom: 0px;
            }
        }
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, 
    .col-6, .col-7, .col-8, .col-9, .col-10, 
    .col-11, .col-12, .col, .col-auto, .col-sm-1, 
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
    .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
    .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, 
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, 
    .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
    .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
    .col-md-12, .col-md, .col-md-auto, .col-lg-1, 
    .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
    .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
    .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, 
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, 
    .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
    .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, 
    .col-xl-12, .col-xl, .col-xl-auto {
        padding-right: 0px;
        padding-left: 0px; 
    }
}