//$text-black: #2c2d30;
@import "colors";

.message{
    padding: 10px 0px;
    display: flex;
    color: $text-black;

    h5{
        font-size: .95rem;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .avatar-img{
        padding-right: 10px;
        img{
            border-radius: 4px;
        }
    }

    div{
        word-break: break-all;
        word-break: break-word;
        word-wrap: break-word;
    }
}