$modal-color: white;
$modal-padding: 20px;

.modal-component{
    max-height: calc(100% - 100px);
    position: fixed;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
    background-color:$modal-color;
    padding: $modal-padding;

    .row.justify-content-center .col{
      flex-basis: auto;
    }
}


.full-modal{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  

  .content{
    width: 640px;
    max-width: 100%;
  }

  .small-right-margin{
    margin-right: 4px;
  }

  .form-group{
    min-height: 140px;
    margin-bottom: 8px;
  }

  input[type="text"] {
    text-transform: lowercase;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      text-transform: none;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      text-transform: none;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      text-transform: none;
  }
  ::placeholder { /* Recent browsers */
      text-transform: none;
  }

}