/* This file is for your main application css. */
@import "node_modules/bootstrap/scss/bootstrap";

$page-color: #323440;

html{
    min-width: 784px;
}

body{
    background-color: $page-color;
    overflow: hidden;
}