$page-color: #323440;
$hover-color: #3b5998;
$selected-color: #3EB890;

$border-grey: #e8e8e8;
$text-black: #2c2d30;

$chat-background-color: white;
$transparent-text-color: gainsboro;

$scrollbar-color: rgba(206,206,212,0.75);

$modal-color: $chat-background-color;