@import "node_modules/react-custom-scroll/dist/customScroll";

html, body, body > div, body > div > main, 
main > #root, #root > div, #root > div > .chat-layout  {
    height: 100%;
}

.chat-layout{
    border-collapse: collapse;
    width: 100%;
    display: flex;

    > div {
        border:  0px;
        margin: 0px;
    }

    .left-container{
        width: 220px;
        min-width: 220px;
        background-color: #323440;
        
        .current-user-container{
            margin-top:20px;

            img{
                border-radius: 4px;
            }

            .current-user-name > span{
                font-size: 0.9rem;
                color: white;
                font-weight: bold;
            }
        }

        .channel-container{
            margin-top:20px;

            font-size: 1.2rem;
            color: white;

            .channel-title{
                .add-channel{
                    text-align: center;
                    font-weight: bolder;

                    &:hover{
                        background-color: #3b5998;;
                    }
                }
            }

            .channel-list{
                margin-top:20px;
                font-size: 1.0rem;

                &>div{
                    padding:0px;
                }

                ul{
                    list-style: none;
                    padding: 0px;   
                    li{
                        margin: 0px 0px;
                        padding: 10px 8px; 
                        &:hover{
                            background-color:#3b5998;
                        }
                        &.active{
                            background-color: #3EB890;
                        }
                    }
                }
            }
        }

        .col-1, .col-2, .col-3, .col-4, .col-5, 
        .col-6, .col-7, .col-8, .col-9, .col-10, 
        .col-11, .col-12, .col, .col-auto, .col-sm-1, 
        .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, 
        .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
        .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, 
        .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, 
        .col-md-4, .col-md-5, .col-md-6, .col-md-7, 
        .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
        .col-md-12, .col-md, .col-md-auto, .col-lg-1, 
        .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
        .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
        .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, 
        .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, 
        .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
        .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, 
        .col-xl-12, .col-xl, .col-xl-auto {
            padding-right: 5px;
            padding-left: 5px; 
        }
    }

    .right-container{
        background-color:white;
        width: inherit;

        &.empty{
            display: flex;  
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }

        .empty{
            overflow-y: hidden;
            overflow-x: hidden;
    
            display: flex;  
            align-items: center;
            justify-content: center;
            height: 100%;

            font-size: 2.5rem;
            color: gainsboro;
        }

        .chat-view{
            display: flex;
            height:100%;
            flex-direction: column;


            .header{
                padding: 8px 0px;
                border-bottom: 1px solid grey;
            }

            .chat-area{
                display: flex;
                flex-grow: 1;

                .chat-window{
                    display: flex;
                    flex-direction: column;

                    .messages{
                        flex: 1;
                        min-height: 0;
                        min-width: 0;

                        .message{
                            padding: 10px 0px;
                            display: flex;

                            .avatar-img{
                                padding-right: 10px;
                                img{
                                    border-radius: 4px;
                                }
                            }

                            span{
                                word-break: break-word;
                            }
                        }

                        .inner-handle{
                            background-color: rgba(206,206,212,0.75);
                        }

                    }
    
                    .message-input{
                        height: 54px;
                    }
                }
            }

            .active-users{
                width: 229px;
                padding: 0px 8px;
                border-left: 1px solid grey;
            }
    
            .chat-window{
                flex-grow: 1;
            }
        }
    }

    .chat-area{
        color:black;
    }
}

